node_modules/
.DS_Store
.idea/

# Ignore Python cache files
__pycache__/
/pycache/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Ignore log files
*.log

# Ignore virtual environments
venv/
env/

# SQLite database files
*.sqlite
*.sqlite3
/.sqlite
**/.sqlite3

# Django cache directories
/cache/
/tmp/
**/temp/

# Common Django runtime files
db.sqlite3