{% extends "layout.html" %}

{% block content %}

    <div style="display: flex; flex-direction: column; align-items: center; text-align: center; gap: 10px; margin-top: 20px;">

        <!-- Avatar preview -->
        <div style="width: 200px; height: 200px; background: #e5e7eb; 
            display: flex; justify-content: center; align-items: center; 
            border-radius: 10px; overflow: hidden;">
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Avatar" width="200">
            {% else %}
                <span class="text-gray-500">No Image</span>
            {% endif %}
        </div>

        <!-- Edit Form -->
        <form class="table" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="table" style="display: flex; flex-direction: column; text-align: left;">
                <div for="id_nickname" class="font-semibold mb-1">Nickname</div>
                <div>{{ form.nickname }}</div>
                <br>

                <div for="id_bio" class="font-semibold mb-1">Bio</div>
                <div> {{ form.bio }} </div>
                <br>
                
                <div for="id_profile_picture" class="font-semibold mb-1">Profile Picture</div>
                <div> {{ form.profile_picture }} </div>
                <br>

                <div style="display: grid; grid-template-columns: max-content 1fr;">
                    <div class="font-semibold mb-1"> Allow others to see my schedule </div>
                    <div style="justify-self: left; margin-left: 10px;"> {{ form.is_calendar_public }} </div>
                </div>
                <br>
            </div>

            <!-- {{form}} -->

            <button type="submit" class="btn btn-primary" style="width: 20%;"> Save </button>
        </form>

    </div>

{% endblock %}
