{% extends "layout.html" %}

{% block content %}

  <div style="display: flex; flex-direction: column; align-items: center; text-align: center; gap: 10px; margin-top: 20px;">
    <h2>Profile</h2>

    <div style="width: 200px; height: 200px; background: #e5e7eb; 
            display: flex; justify-content: center; align-items: center; 
            border-radius: 10px; overflow: hidden;">
      {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="Avatar" width="200">
      {% else %}
        <span class="text-gray-500">: )</span>
      {% endif %}
    </div>
    
    <div class="table" style="text-align: left;">
      <div class="font-semibold mb-1">Nickname:</div>
      <div>{{ user.profile.nickname }}</div>
      <br>

      <div class="font-semibold mb-1">Bio:</div>
      <div>{{ user.profile.bio }}</div>
      <br>

      <div class="font-semibold mb-1">Username:</div>
      <div>{{ user.username }}</div>
      <br>

      <div class="font-semibold mb-1">Schedule public visibility:</div>
      <div>
        {% if user.profile.is_calendar_public %}
          On
        {% else %}
          Off
        {% endif %}
      </div>
      <br>
    </div>

    <a href="{% url 'users:edit' %}" class="btn btn-primary" style="width: 10%">Edit Profile</a>

  </div>

{% endblock %}
