<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Kairos App
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>

    <!-- Alpine.js -->

    {% csrf_token %}
    <script>
        // Grab the CSRF token from the hidden input Django generates
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <title>Layout Document</title>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    {% block head %}{% endblock %}
</head>

<body class="bg-light">
    <nav class="bg-gradient-to-r from-primary-200 to-secondary y p-4 flex flex-row justify-between items-center relative">
        <div>
            <a href="/events" class="text-4xl">🏠</a>
            <button class="btn-nav">Create Event</button>
            <button class="btn-nav">Attend Event</button>
            <button class="btn-nav"><a href="/groups/" >Groups</a></button>

        </div>
        
        <div x-data="notificationsComponent()" class="flex flex-row space-x-4">

            {% comment %} Notifications here {% endcomment %}
            {% comment %} {% if user.is_authenticated %}
                <button 
                    @click="open = !open; if (open && notifications.length === 0) { load_notifications(); }"
                    class="text-4xl cursor-pointer relative">
                    
                    <div x-show="has_unread" x-init="hasUnreadNotifications()" class="absolute top-0 right-0 w-3 h-3 rounded-full bg-notify"></div>🔔
                </button>
                
               
                {% include 'components/notifications_panel.html' %}
                
            {% endif %} {% endcomment %}
            
        <div class="flex flex-row space-x-4" id="nav-buttons">

            <button 
                @click="open = !open; if (open && notifications.length === 0) { load_notifications(); }"
                class="text-4xl cursor-pointer relative">
                
                <div x-show="has_unread" x-init="hasUnreadNotifications()" class="absolute top-0 right-0 w-3 h-3 rounded-full bg-notify"></div>🔔
            </button>
                
               
                {% include 'components/notifications_panel.html' %}
                
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn-nav">Logout</a>
              {% else %}
                <a href="{% url 'login' %}" class="btn-nav">Login</a>
              {% endif %}
        </div>
            {% include 'components/notifications_panel.html' %}
            
            
            
            <!-- Hamburger Menu -->
            <div class="relative">
                <!-- Hamburger icon -->
                <!-- <button id="menu-toggle" class="flex flex-col justify-between w-8 h-6 focus:outline-none cursor-pointer">
                    <span class="block w-full h-1 bg-white rounded"></span>
                    <span class="block w-full h-1 bg-white rounded"></span>
                    <span class="block w-full h-1 bg-white rounded"></span>
                </button> -->
                <button id="menu-toggle" class="p-2">
                    ☰
                </button>

                <!-- Dropdown Menu -->
                <div 
                    id="dropdown-menu" 
                    class="absolute right-0 mt-3 w-48 bg-white shadow-lg rounded-lg hidden z-50"
                >
                    <!-- <ul class="flex flex-col text-gray-800"> -->
                        <li><a href="/profile" class="block px-4 py-2 hover:bg-gray-100">Profile</a></li>
                        <li><a href="/settings" class="block px-4 py-2 hover:bg-gray-100">Settings</a></li>
                        <li><a href="/logout" class="block px-4 py-2 hover:bg-gray-100 text-red-500">Logout</a></li>
                    <!-- </ul> -->
                </div>
                <!-- <div
                    id="dropdown-menu"
                    class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg hidden"
                >
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Profile</a>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Logout</a>
                </div> -->
            </div>

        </div>
        
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script>
        const notificationsComponent = () => ({
            has_unread: false,
            open: false,
            notifications: [],
            async load_notifications() {
                const res = await fetch('/notifications/', {method: 'GET', headers: {'X-CSRFToken': csrfToken} });
                if (res.ok) {
                    const data = await res.json();
                    console.log("notifications recieved", data);
                    this.notifications = data;
                } else {
                    console.error('failed to load notifications');
                }
            },
            async hasUnreadNotifications() {
                const res = await fetch("/notifications/has-unread-notifications", {method: 'GET', headers: {'X-CSRFToken': csrfToken} });
                if (res.ok) {
                    const data = await res.json();
                    console.log("HAS UNREAD: " +data.has_unread);
                    this.has_unread = data.has_unread;
                } else {
                    console.error("Failed to check if there are any unread notifications");
                    return false;
                }
            },
            async clearNotifications(notifications) {
                const res = await fetch("/notifications/clear", 
                {method: "DELETE", headers: {
                    'X-CSRFToken': csrfToken
                } });
                if (res.ok) {
                    // clear notifications on the frontend side
                    notifications.splice(0, notifications.length);
                } else {
                    console.error("Could not clear notifications");
                }
            },
            async notificationClicked(notification) {
                try {
                    // mark notification as read if it isn't currently once clicking on it
                    if (!notification.is_read) {
                        const res = await fetch(`/notifications/mark-read/${notification.id}/`, 
                        {method: 'POST', headers: {'X-CSRFToken': csrfToken} });

                        if (res.ok) {
                            notification.is_read = true // update front end side
                        } else {
                            console.error("Failed to mark notification as read");
                        }
                    }
                    // redirect to notification url
                    window.location.href = notification.url;
                } catch (err) {
                    console.error(err); 
                    window.location.href = notification.url;
                }
            }
        });
    </script>
    <script src="//unpkg.com/alpinejs" defer>
    </script>
    <script>
        function logoutUser() {
          console.log("Logging out...");
          localStorage.removeItem('access');
          localStorage.removeItem('refresh');
          window.location.href = '/login/';
        }
      
        document.addEventListener('DOMContentLoaded', () => {
          const token = localStorage.getItem('access');
          const loginLink = document.getElementById('loginLink');
          const logoutBtn = document.getElementById('logoutBtn');
      
          if (token) {
            loginLink.classList.add('hidden');
            logoutBtn.classList.remove('hidden');
          } else {
            loginLink.classList.remove('hidden');
            logoutBtn.classList.add('hidden');
          }
        });
      </script>
</body>
</html>