<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Kairos App
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>Layout Document</title>
</head>
<body class="bg-light">
    <nav class="bg-gradient-to-r from-primary-200 to-secondary p-4 flex flex-row justify-between items-center">
        <div>
            <a href="/events" class="text-4xl">🏠</a>
            <button class="btn-nav">Create Event</button>
            <button class="btn-nav">Attend Event</button>
        </div>
        
        <div class="flex flex-row space-x-4">
            <a href="/login" class="self-center text-white">Login (temporary link for testing will be removed)</a>
            <button class="text-4xl cursor-pointer">🔔</button>
            <div class="w-12 h-12 rounded-full bg-dark cursor-pointer">
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>