@import "tailwindcss";

@config "../../../tailwind.config.js";

@layer base {
    h1 {
        @apply font-bold mb-2 md:text-6xl text-5xl
    }

    h2 {
        @apply font-semibold md:text-4xl text-3xl mb-1.5 
    }

    h3 {
        @apply md:text-3xl text-2xl mb-1 
    }

    h4 {
        @apply md:text-2xl text-xl 
    }

    h5 {
        @apply md:text-xl text-lg
    }

    h6 {
        @apply text-lg
    }

    p {
        @apply text-base
    }

    h1, h2, h3, h4, h5, h6, p {
        @apply text-dark
    }

    .btn {
        @apply cursor-pointer transition-colors duration-300 p-2 rounded-lg w-full h-auto 
    }

    .btn-primary {
        @apply hover:from-blue-700 hover:to-purple-900 bg-gradient-to-r from-blue-500 to-purple-600 text-white
    }

    .btn-secondary {
        @apply bg-dark hover:bg-gray-700 text-white
    }

    .btn-notify {
        @apply bg-notify hover:bg-notify-dark text-white
    }

    .btn-light {
        @apply bg-light hover:bg-gray-300 text-black
    }

    .btn-nav {
        @apply rounded-md px-4 py-2 text-lg text-dark bg-white border-dark border-2 hover:bg-gray-200
    }

    input {
        @apply rounded-md text-lg px-2 py-1 w-full border-2 border-dark focus:outline-none focus:ring-1 focus:ring-dark bg-white
    }
}